button {
  cursor: pointer;
  font-size: 0.9em;
  padding: 10px;
  border: none;
  /* border-radius: 5px; */
  margin-top: 5px;
}

.add-to-cart{
  width: 200px;
  padding: 10px 12px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.like-btn {
  color: darkslateblue;
  font-size: 36px;
  padding: 0;
  background: inherit;
}

.add-to-cart {
  background: #6280bbd7;
  color: #fff;
}

.add-to-cart:hover {
  background: #6280bb56;
}

.like-btn:hover {
  color: #ff4d4d; 
}

