button {
  cursor: pointer;
  font-size: 0.9em;
  padding: 10px;
  border: none;
  margin-top: 5px;
}

.product-actions button {
  padding: 4px 6px; 
  font-size: 0.7rem; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart{
  height: 30px;
  width: 200px;
  padding: 10px 12px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

.like-btn {
  background-color: #ff4d4d60;
  height: 30px;
  width: 30px;
  font-weight: bold;
  color: rgb(139, 61, 61);
  font-size: 36px;
  padding: 0;
}

.add-to-cart {
  background: #6280bbd7;
  color: #fff;
}

.add-to-cart:hover {
  background: #6280bb56;
}

.like-btn:hover {
  color: #ff4d4d; 
}

@media screen {

  .add-to-cart{
    width: 100px;
    padding: 10px 12px;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
  }
  
}