nav{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f3ee;
    padding: 10px 50px;
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 58, 58);
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }
  
  .nav-links a.active {
    background-color: #eedcb9;
  }
  
  .nav-links a:hover {
    background-color: #f0f0f0;
  }
  
  .signin-button {
    background-color: #e0e0e0;
    border: none;
    /* padding: 10px 30px;
    width: 150px; */
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .signin-button:hover {
    background-color: #ccc;
  }
  