/* Flexbox for product layout */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 100px;
    padding-left: 200px;
  } 
  

  .product {
    width: calc(30% - 10px); 
    background: #ffffff;
    text-align: left;
    padding: 10px;
  }
  
  /* Product image */
  .product img,
  .product-new img{
    background-color: inherit;
    width: auto;
    height: 300px;
  }

  .product-name {
    font-size: 1.2rem;
    font-weight: 10;
    color: rgb(60, 60, 60);
    margin: 10px 0 5px;
    text-align: left;
  }
  
  .product-price {
    font-size: 1rem;
    color: #888;
    margin: 0 0 10px;
    text-align: left;
  }
  
  .product-actions {
    display: flex;
    gap: 20px;
  }

  .bear-products {
    background-color: #F7F4ED;
    padding: 50px 20px;
  }
  
  .bear-products h1 {
    text-align: right;
    margin-bottom: 20px;
    font-size: 70px;
  }

  .pet-products {
    background-color: #C5705D;
    padding: 50px 20px;
  }
  
  .pet-products h1 {
    text-align: right;
    margin-bottom: 20px;
    font-size: 70px;
  }

  .product-new {
    width: calc(30% - 10px); 
    background: inherit;
    text-align: left;
    padding: 10px;
  }
  

  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .product {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .product {
      width: 100%;
    }
  }
  